<tr>
    <td>Emlak Tipi</td>
    <td>Arsa</td>
</tr>
<?php
$arsaKey = array('tarih'=>'İlan Tarihi','imar_durum'=>'İmar Durumu','m_kare'=>'m<sup>2</sup>',
    'ada'=>'Ada','parsel'=>'Parsel','tapu'=>'Tapu','kredi'=>'Krediye Uygunluk');
foreach($arsaKey as $key=>$val){
    if(!empty($arsas['Arsa'][$key])){
        echo '<tr>';
        echo '<td>'.$val.'</td>';
        echo '<td>'.$arsas['Arsa'][$key].'</td>';
        echo '</tr>';
    }
}?>